<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="strongpoint-sdfcli.commands.category"
            name="Sample Category">
      </category>
      <!--<command
            categoryId="strongpoint-sdfcli.commands.category"
            name="Create Project"
            id="strongpoint-sdfcli.commands.sampleCommand">
      </command>-->
      <command
            categoryId="strongpoint-sdfcli.commands.category"
            name="Request Deployment"
            id="strongpoint-sdfcli.commands.createCrCommand">
      </command>
      <command
            categoryId="strongpoint-sdfcli.commands.category"
            name="Sync to NS"
            id="strongpoint-sdfcli.commands.syncToNsCommand">
      </command>            
      <command
            categoryId="strongpoint-sdfcli.commands.category"
            name="Deploy"
            id="strongpoint-sdfcli.commands.deployCommand">
      </command>
      <command
            categoryId="strongpoint-sdfcli.commands.category"
            name="Impact Analysis"
            id="strongpoint-sdfcli.commands.impactAnalysisCommand">
      </command>
      <command
            categoryId="strongpoint-sdfcli.commands.category"
            name="Test Connection"
            id="strongpoint-sdfcli.commands.testConnectionCommand">
      </command>
      <command
            categoryId="strongpoint-sdfcli.commands.category"
            name="NS Account Settings"
            id="strongpoint-sdfcli.commands.addAccountCommand">
      </command>
      <command
            categoryId="strongpoint-sdfcli.commands.category"
            name="Credentials Settings"
            id="strongpoint-sdfcli.commands.credentialsCommand">
      </command>
      <command
            categoryId="strongpoint-sdfcli.commands.category"
            name="Refresh Roles"
            id="strongpoint-sdfcli.commands.refreshRolesCommand">
      </command>      
<!--       
      <command
            categoryId="strongpoint-sdfcli.commands.category"
            name="Check for Source Updates"
            id="strongpoint-sdfcli.commands.sourceUpdatesCommand">
      </command>
      <command
            categoryId="strongpoint-sdfcli.commands.category"
            name="Check for Target Updates"
            id="strongpoint-sdfcli.commands.targetUpdatesCommand">
      </command>
-->                                                 
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <!--<handler
            class="org.strongpoint.sdfcli.plugin.handlers.SdfcliHandler"
            commandId="strongpoint-sdfcli.commands.sampleCommand">
      </handler>-->
      <handler
            class="org.strongpoint.sdfcli.plugin.handlers.SdfcliChangeRequestHandler"
            commandId="strongpoint-sdfcli.commands.createCrCommand">
      </handler>
      <handler
            class="org.strongpoint.sdfcli.plugin.handlers.SdfcliSyncToNsHandler"
            commandId="strongpoint-sdfcli.commands.syncToNsCommand">
      </handler>            
      <handler
            class="org.strongpoint.sdfcli.plugin.handlers.SdfcliDeployHandler"
            commandId="strongpoint-sdfcli.commands.deployCommand">
      </handler>
      <handler
            class="org.strongpoint.sdfcli.plugin.handlers.SdfcliImpactAnalysisHandler"
            commandId="strongpoint-sdfcli.commands.impactAnalysisCommand">
      </handler>
      <handler
            class="org.strongpoint.sdfcli.plugin.handlers.SdfcliTestConnectionHandler"
            commandId="strongpoint-sdfcli.commands.testConnectionCommand">
      </handler>
      <handler
            class="org.strongpoint.sdfcli.plugin.handlers.SdfcliAddAccountHandler"
            commandId="strongpoint-sdfcli.commands.addAccountCommand">
      </handler>
      <handler
            class="org.strongpoint.sdfcli.plugin.handlers.SdfcliCredentialsHandler"
            commandId="strongpoint-sdfcli.commands.credentialsCommand">
      </handler>
      <handler
            class="org.strongpoint.sdfcli.plugin.handlers.SdfcliRolesHandler"
            commandId="strongpoint-sdfcli.commands.RefreshRolesCommand">
      </handler>      
<!--
      <handler
            class="org.strongpoint.sdfcli.plugin.handlers.SdfcliSourceUpdatesHandler"
            commandId="strongpoint-sdfcli.commands.sourceUpdatesCommand">
      </handler>
      <handler
            class="org.strongpoint.sdfcli.plugin.handlers.SdfcliTargetUpdatesHandler"
            commandId="strongpoint-sdfcli.commands.targetUpdatesCommand">
      </handler>
-->                                            
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <!--<key
            commandId="strongpoint-sdfcli.commands.sampleCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6">
      </key>-->
      <key
            commandId="strongpoint-sdfcli.commands.createCrCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6">
      </key>
      <key
            commandId="strongpoint-sdfcli.commands.syncToNsCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+7">
      </key>            
      <key
            commandId="strongpoint-sdfcli.commands.deployCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+8">
      </key>
      <key
            commandId="strongpoint-sdfcli.commands.impactAnalysisCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+9">
      </key>
      <key
            commandId="strongpoint-sdfcli.commands.testConnectionCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+0">
      </key>
      <key
            commandId="strongpoint-sdfcli.commands.addAccountCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+1">
      </key>
      <key
            commandId="strongpoint-sdfcli.commands.credentialsCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+2">
      </key>
<!--
      <key
            commandId="strongpoint-sdfcli.commands.sourceUpdatesCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+j">
      </key>
      <key
            commandId="strongpoint-sdfcli.commands.targetUpdatesCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+4">
      </key>
-->                                           
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="strongpoint-sdfcli.menus.sampleMenu"
               label="Strongpoint"
               mnemonic="M">
            <!--<command
                  commandId="strongpoint-sdfcli.commands.sampleCommand"
                  id="strongpoint-sdfcli.menus.sampleCommand"
                  mnemonic="S">
            </command>-->
            <command
                  commandId="strongpoint-sdfcli.commands.createCrCommand"
                  id="strongpoint-sdfcli.menus.createCrCommand"
                  mnemonic="R">
            </command>
            <command
                  commandId="strongpoint-sdfcli.commands.syncToNsCommand"
                  id="strongpoint-sdfcli.menus.syncToNsCommand"
                  mnemonic="S">
            </command>                        
            <command
                  commandId="strongpoint-sdfcli.commands.deployCommand"
                  id="strongpoint-sdfcli.menus.deployCommand"
                  mnemonic="D">
            </command>
            <command
                  commandId="strongpoint-sdfcli.commands.impactAnalysisCommand"
                  id="strongpoint-sdfcli.menus.impactAnalysisCommand"
                  mnemonic="I">
            </command>
            <command
                  commandId="strongpoint-sdfcli.commands.testConnectionCommand"
                  id="strongpoint-sdfcli.menus.testConnectionCommand"
                  mnemonic="T">
            </command>
            <command
                  commandId="strongpoint-sdfcli.commands.addAccountCommand"
                  id="strongpoint-sdfcli.menus.addAccountCommand"
                  mnemonic="A">
            </command>
            <command
                  commandId="strongpoint-sdfcli.commands.credentialsCommand"
                  id="strongpoint-sdfcli.menus.credentialsCommand"
                  mnemonic="C">
            </command>
<!--            
            <command
                  commandId="strongpoint-sdfcli.commands.sourceUpdatesCommand"
                  id="strongpoint-sdfcli.menus.sourceUpdatesCommand"
                  mnemonic="U">
            </command>
            <command
                  commandId="strongpoint-sdfcli.commands.targetUpdatesCommand"
                  id="strongpoint-sdfcli.menus.targetUpdatesCommand"
                  mnemonic="G">
            </command>
-->                                                                                      
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="strongpoint-sdfcli.toolbars.sampleToolbar">
            <command
                  id="strongpoint-sdfcli.toolbars.RefreshRolesCommand"
                  commandId="strongpoint-sdfcli.commands.RefreshRolesCommand"
                  icon="icons/strpnt.png"
                  tooltip="Strongpoint - Refresh Roles">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   
   <extension point="org.eclipse.ui.views">
       <view id="strongpoint-sdfcli.views.strongpointView" 
             name="Strongpoint"
             class="org.strongpoint.sdfcli.plugin.views.StrongpointView"/>
   </extension>
   
      <extension point="org.eclipse.ui.views">
       <view id="strongpoint-sdfcli.views.strongpointDetailView" 
             name="Strongpoint Details"
             class="org.strongpoint.sdfcli.plugin.views.StrongpointDetailView"/>
   </extension>

</plugin>
