<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="strongpoint-sdfcli.commands.category"
            name="Sample Category">
      </category>
      <!--<command
            categoryId="strongpoint-sdfcli.commands.category"
            name="Create Project"
            id="strongpoint-sdfcli.commands.sampleCommand">
      </command>-->
      <command
            categoryId="strongpoint-sdfcli.commands.category"
            name="Request Deployment"
            id="strongpoint-sdfcli.commands.createCrCommand">
      </command>      
      <command
            categoryId="strongpoint-sdfcli.commands.category"
            name="Deploy"
            id="strongpoint-sdfcli.commands.deployCommand">
      </command>
      <command
            categoryId="strongpoint-sdfcli.commands.category"
            name="Impact Analysis"
            id="strongpoint-sdfcli.commands.impactAnalysisCommand">
      </command>            
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <!--<handler
            class="org.strongpoint.sdfcli.plugin.handlers.SdfcliHandler"
            commandId="strongpoint-sdfcli.commands.sampleCommand">
      </handler>-->
      <handler
            class="org.strongpoint.sdfcli.plugin.handlers.SdfcliChangeRequestHandler"
            commandId="strongpoint-sdfcli.commands.createCrCommand">
      </handler>      
      <handler
            class="org.strongpoint.sdfcli.plugin.handlers.SdfcliDeployHandler"
            commandId="strongpoint-sdfcli.commands.deployCommand">
      </handler>
      <handler
            class="org.strongpoint.sdfcli.plugin.handlers.SdfcliImpactAnalysisHandler"
            commandId="strongpoint-sdfcli.commands.impactAnalysisCommand">
      </handler>            
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <!--<key
            commandId="strongpoint-sdfcli.commands.sampleCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6">
      </key>-->
      <key
            commandId="strongpoint-sdfcli.commands.createCrCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6">
      </key>      
      <key
            commandId="strongpoint-sdfcli.commands.deployCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6">
      </key>
      <key
            commandId="strongpoint-sdfcli.commands.impactAnalysisCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6">
      </key>            
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="strongpoint-sdfcli.menus.sampleMenu"
               label="Strongpoint"
               mnemonic="M">
            <!--<command
                  commandId="strongpoint-sdfcli.commands.sampleCommand"
                  id="strongpoint-sdfcli.menus.sampleCommand"
                  mnemonic="S">
            </command>-->
            <command
                  commandId="strongpoint-sdfcli.commands.createCrCommand"
                  id="strongpoint-sdfcli.menus.createCrCommand"
                  mnemonic="R">
            </command>            
            <command
                  commandId="strongpoint-sdfcli.commands.deployCommand"
                  id="strongpoint-sdfcli.menus.deployCommand"
                  mnemonic="D">
            </command>
            <command
                  commandId="strongpoint-sdfcli.commands.impactAnalysisCommand"
                  id="strongpoint-sdfcli.menus.impactAnalysisCommand"
                  mnemonic="I">
            </command>                        
         </menu>
      </menuContribution>
      <!--<menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="strongpoint-sdfcli.toolbars.sampleToolbar">
            <command
                  id="strongpoint-sdfcli.toolbars.sampleCommand"
                  commandId="strongpoint-sdfcli.commands.sampleCommand"
                  icon="icons/strpnt.png"
                  tooltip="Strongpoint">
            </command>
         </toolbar>
      </menuContribution>-->
   </extension>

</plugin>
